.logo {
  width: 100%;
}

.small {
  width: 12%;
  min-width: 25px;
}

@media screen and (min-width: 576px) {
  .small {
    width: 17%;
  }
}
@media screen and (min-width: 768px) {
  .small {
    width: 10%;
  }
}
