.builder {
  width: 100vw;
  height: 89vh;
  background: var(--color-gray-2);
  padding: 0.2em 1.5em;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.builder.spinner {
  justify-content: center;
}

.builder > * {
  margin-top: 1em;
}

.cardTitle {
  font-family: var(--font-script);
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: bold;
  margin-bottom: 0.3em;
}

.basePrice {
  margin-bottom: 0.5em;
  /* color: var(--color-primary-2); */
  font-size: 0.8em;
}
.totalPrice {
  /* margin-top: 0.75em; */
  color: var(--color-primary-2);
  background: var(--color-white);
  width: 60%;
  margin: 0.75em auto 0;
  font-size: 0.9em;
  border: 2px solid var(--color-primary-1);
  border-radius: 5px;
}

.ingredientList {
  text-transform: capitalize;
  text-align: center;
  font-size: 0.8em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.builderControls {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.buttons {
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  font-family: var(--font-primary-bold);
}

@media screen and (min-width: 578px) {
  .totalPrice {
    width: 38%;
  }
}
