.sideMenu {
  display: block;
  opacity: 1;
  pointer-events: all;
  transition: var(--main-transition);
}

.sideMenu.hide {
  opacity: 0;
  pointer-events: none;
}

.sideMenuContent {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  padding: 2em 0;
  z-index: 1000;
  background: var(--color-primary-3);
  font-family: var(--font-script);
}

.sideMenuClose {
  display: flex;
  flex-direction: row-reverse;
}

.sideMenuClose button {
  font-size: 1.8em;
  border: none;
  background: transparent;
  color: var(--color-secondary-5);
  padding: 0.5em;
  transition: var(--main-transition);
}

.sideMenuClose button:hover {
  transform: scale(1.3);
}

.sideMenuClose button:focus {
  outline: none;
}

.sideMenuCenter {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.sideMenuCenter > * {
  margin-bottom: 1em;
}

.sideMenuCenter > *:hover {
  padding-right: 0.5em;
  transform: scale(1.2);
}

@media screen and (min-width: 576px) {
  .sideMenu {
    display: none;
  }
}
