.navLink {
  color: var(--color-white);
  margin: 0 0.6em;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  transition: var(--main-transition);
  display: block;
}

.navLink:hover {
  transform: scale(1.2);
}

.navLink:hover,
.navLink.active {
  text-decoration: none;
  color: var(--color-primary-10);
}

.navLink.active {
  color: var(--color-primary-7);
  border-bottom: 2px solid var(--color-primary-7);
}
