@font-face {
  src: url("./static/fonts/Kadwa/Kadwa-Regular.ttf");
  font-family: kadwa-regular;
}
@font-face {
  src: url("./static/fonts/Kadwa/Kadwa-Bold.ttf");
  font-family: kadwa-bold;
}
@font-face {
  src: url("./static/fonts/Kalam/Kalam-Regular.ttf");
  font-family: kalam-regular;
}
@font-face {
  src: url("./static/fonts/Kalam/Kalam-Bold.ttf");
  font-family: kalam-bold;
}
@font-face {
  src: url("./static/fonts/Kreon/Kreon-Regular.ttf");
  font-family: kreon-regular;
}
@font-face {
  src: url("./static/fonts/Kreon/Kreon-Bold.ttf");
  font-family: kreon-bold;
}

:root {
  box-sizing: border-box;
  font-size: calc(0.85em + 0.9vw);

  --font-primary: kreon-regular;
  --font-primary-bold: kreon-bold;
  --font-secondary: kadwa-regular;
  --font-secondary-bold: kadwa-bold;
  --font-script: kalam-regular;
  --font-script-bold: kalam-bold;

  --color-black: #0f010e;
  --color-white: #ffffff;
  --color-gray: #c9d5ca;
  --color-gray-2: #ecedee;
  --color-gray-3: #d8dadb;
  --color-gray-4: #797070;
  --color-gray-5: #4d4747;
  --color-primary-1: #4a0347;
  --color-primary-2: #760472;
  --color-primary-3: #a2069d;
  --color-primary-4: #c007ba;
  --color-primary-5: #d008c9;
  --color-primary-6: #f833f1;
  --color-primary-7: #f95cf4;
  --color-primary-8: #fb85f7;
  --color-primary-9: #fb99f8;
  --color-primary-10: #fdc2fb;
  --color-secondary-1: #034c4c;
  --color-secondary-2: #059797;
  --color-secondary-3: #08d1d1;
  --color-secondary-4: #23f7f7;
  --color-secondary-5: #87fbfb;

  --main-transition: all 0.4s linear;
  --letter-spacing: 0.1em;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 !important;
  margin: 0 !important;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

body {
  font-family: var(--font-secondary) !important;
}
