.NavRight {
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  display: none;
}

@media screen and (min-width: 578px) {
  .NavRight {
    display: flex;
    justify-content: space-around;
  }
}
